# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode
*.code-workspace

wx/miniprogram/**/*.js
!**/wx/miniprogram/service/proto_gen/**/*.js

node_modules
miniprogram_npm

package-lock.json
project.private.config.json

server/tmp
private.key
appsecret.txt
